[client]
default-character-set          = utf8
port                           = 3306
socket                         = /run/mysql-lamp/mysqld.sock

[mysql]
default-character-set          = utf8

[mysqld]
#https://dev.mysql.com/doc/refman/5.6/en/replication-howto-masterbaseconfig.html
server-id                      = ${server_id}
log-bin                        = mysql-bin
binlog_format                  = ROW
user                           = mysql
pid-file                       = /run/mysql-lamp/mysqld.pid
socket                         = /run/mysql-lamp/mysqld.sock
bind-address                   = 0.0.0.0
port                           = 3306
datadir                        = /var/lib/mysql-lamp
log-error                      = /var/log/mysql-lamp/error.log
!includedir /etc/mysql-lamp/conf.d

[mysqld_safe]
socket                         = /run/mysql-lamp/mysqld.sock
